# Android & Gradle
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk.sha1

# Node / Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
.venv/

# Temporary / OS
Thumbs.db
*.swp
*~
